.feature{
    max-width: 1480px;
    margin-inline: auto;
}

.feature-wrapper{
    background-color: #131325;
    padding: 4rem 2rem 2rem 2rem;
    border-radius: 12px;
}

.section__up-text{
    color: #2C8981;
}

.feature__text {
    text-align: center;
}

.feature__description{
    max-width: 60ch;
    margin-inline: auto;
}

.feature__cards{
    display: flex;
    gap: 2rem;
    row-gap: 4rem;
}

.feature__card{
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    flex: 1;
    min-width: 150px;
}

.feature__cart-img{
    width: 5rem;
}

.feature__card-title{
    color: black;
    font-size: 1.5em;
    font-weight: 500;
}

.feature__card-descriptiom{
    color: black;
    font-size: 1.5em;
    font-weight: 300;
}

